@import "../icons/icofont/icofont.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Nunito;
    src: url('Nunito-VariableFont_wght.ttf');
}

html {
    font-family: 'Nunito', sans-serif;
}

html * {
    @apply focus-visible:outline-none;
}


.pagination {
    @apply flex justify-center my-2 py-2;
}

.pagination * {
    @apply px-3 py-2 mx-2 text-sky-700 no-underline bg-white rounded-lg;
}

.pagination a:hover, .pagination em.current {
    @apply font-semibold text-sky-200 bg-sky-700;
}

